<img src="https://sigearth.com/wp-content/uploads/2021/07/ESG_Graphic.jpg" width="600px" align="right">

# **ESG Scores Creation: Equities**


Luc Smith & Samuel Martin Reisgys

FIN620 - Project 3

---

## **Summary:**
---
This notebook report includes a proprietary system of creating ESG scores for the members of the Nasdaq Composite Index, which contains almost 3,700 stocks. However, as a result of data avilability issues, the number of stocks receiving an actual score dropped to about 2,000 as it is shown below throughout the report. Python, its packages, and the Bloomberg Terminal were used in conjunction to gather all of the ESG data, manipulate it, and create scores out of 100 for each firm in respect to the data available and filling missing data with GICS sector averages. A score of 100 means that the firm is great in terms of ESG ethical standards and practices compared to the other Nasdaq members, and a score of 0 means the opposite. The methodology used was to find the range of the data for each field, and compare the score relative to that range (the max). This means that if in a field where more means better, a firm with the highest amount for that field would receive 100% score there while a firm in the middle would receive 50% of the score there. Then, all of the fields and their scores are aggregated in respect to a chosen weighted system, which is to be shown below. Once each of the three pillars have a score, the total ESG score simply takes the average of the three. The final result contains 4 scores: an Environmental score, a Social score, a Governance score, and a total ESG score. Below are the sections included here:
- ESG introduction.


- Dataset Description.


- Tools Used.


- Data Gathering Process.


- Narrowing Down ESG Fields.


- Generating ESG scores.


- Conclusion & Next Steps.

## **Environmental, Social, & Governance (ESG): Introduction**
---

Worries of ethical and moral practices have been on the rise throughout the world and its many different industries. People are also caring more and more about ethical standards throughout their different aspects of life, including the services and products they utilize. With this, different methods and concepts have been created to attempt to define and represent ethical standards of various entities. In the world of business, Environmental, Social, and Governance (ESG) has risen to be a popular concept to describe the ethical standards and practices of different corporations, institutions, and organizations. With this, even the financial industry and its various areas have started to adopt this concept for services and decision-making processes. In specific to here, ESG criteria has been starting to be integrated in areas of wealth management, asset allocation, portfolio optimization, etc. This is used to try and allocate an investor's capital into different assets according to classical metrics such as returns and risk while also taking into account how ethically sound a firm is in form of ESG scores. With this, each of the three ESG pillars can be defined and exemplified:
- **Environmental (E):** ESG pillar representing a firm's ethical standards and practices relating to nature and the planet. Fields here can be the following: hazardous waste spilled, greenhouse gases emitted, deforestation, harm to natural life, etc. 


- **Social (S):** ESG pillar representing a firm's ethical standards and practices relating to topics/areas such as morals, values, fairness, health, and rights. Fields here can be the following: bribery cases, health breaches, child exploitation, modern slavery, etc. 



- **Governance (G):** ESG pillar representing a firm's ethical standards and practices relating to how a firm governs itself. Fields here can be the following: diversity in executive positions, compensation of employees, changes in managerial/executive positions, corruption of board/executive positions, etc.

## **Dataset Description:**
---

The data used is composed of two areas: stocks and ESG fields. As previously mentioned, the stocks are all of the members of the Nasdaq Composite Index, which includes almost 3,700 stocks. The ESG fields, on the other hand, includes more than 1000 fields. There are more than 800 environmental fields, 89 social fields, and 54 governance fields. The goal is to have a shortened version, but no set number. Just enough fields for each pillar in order to compose subgroups that have their own specific weights to calculate the pillar score. The stocks are in the format of their symbols with the addition of the exchange and the word "equity." The fields are in the format of Bloomberg's names/text such as "GICS_SECTOR_NAME," and they can be in binary form, percentage, or simply a float/decimal such as a number in dollars or emmissions when gathered.

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/NASDAQ.svg/440px-NASDAQ.svg.png" width="500px" align="right">

## **Tools: Python, Bloomberg & Excel/CSV**
---

The tools used to implement the ideas and ESG scoring processes such as data gathering, field choosing, and score calculation revolve around Python, Bloomberg's Terminal, and Excel/CSV files. Python is one of the most popular programming languages used for data science/analytics purposes, for it includes many open-source packages that offer great utility for these processes. The Bloomberg Terminal is the biggest financial platform in the world, offering data, insights, news, and much more. The terminal actually has an API for Python as well, which enables the data gathering process to be automated along with an Excel add-in. Excel is then used to gather names of fields directly from Bloomberg Terminal and converted to a CSV file to be read by Python. The following are packages used:


- **Pandas:** tabular data gathering, manipulation, and analysis.


- **NumPy:** mathematical and vectorized tools.


- **Pdblp:** Bloomberg API for data gathering.



<img src="https://visualizingwithdata.com/wp-content/uploads/2020/06/Excel-Logo-uai-258x258.png" width="175px" align="right">


<img src="https://www.ethans.co.in/wp-content/uploads/2020/03/python-icon.png" width="175px" align="right" >

<img src="https://directory-cdn.anymailfinder.com/02d39f5c-6dac-4368-9d6e-0a7cf829eca6" width="150px" align="right">

## **Data Gathering: Bloomberg**
---


To integrate ESG scores in asset allocation methods, the scores need to first be calculated. To do this well, a good source of ESG related information needs to be used, and Bloomberg happens to be one of the biggest platforms for this even containing useful technology related APIs that enable data gathering processes. With this, Python can be used to get a variety of ESG fields from Bloomberg for any given equity firm that is available in the platform. Four 'csv' files were needed to read in the symbol names from the Nasdaq Composite Index and the field names for each ESG pillar: Environmental, Social, and Governance. The following is the code used:




**NOTE:** *Bloomberg terminals may have data capacity limits according to the current plan, so it may be needed to take data one at a time (partition the stocks).*

- *Due to NJIT's Bloomberg Terminal restrictions, this had to be done one ESG pillar at a time and with 500 stock names at a time instead. An example can be seen in this code box before the actual code cell where the first 500 names are done first:*



```
# Read in environmental fields:
env_data = con.ref(names[:500], e)
```

  - names: list of stock symbols (3600+)
  - e: list of environmental fields

In [ ]:
### THIS CODE CAN'T RUN WITHOUT BLOOMBERG API OR TERMINAL ###

#Pandas + Bloomberg API Packages:
import pandas as pd
import pdblp as bl

#Activating connection to Bloomberg:
con = bl.BCon(debug = False, port=8194, timeout = 5000)
con.start()

#Read in stock names from Nasdaq Composite Index:
names = pd.read_csv('symbols.csv')
names = names.value.values

#Read in Environmental Fields:
e = pd.read_csv('env.csv')
e = e.env.values

#Read in Social Fields:
s = pd.read_csv('soc.csv')
s = s.soc.values

#Read in Governance Fields:
g = pd.read_csv('gov.csv')
g = g.gov.values

#Gather data with fields:
env_data = con.ref(names, e)
soc_data = con.ref(names, s)
gov_data = con.ref(names, g)

#Place gathered data into new csv files:
env_data.to_csv('env_data.csv')
soc_data.to_csv('soc_data.csv')
gov_data.to_csv('gov_data.csv')

### **Data Concatenation:** 

- Because of the Bloomberg Terminal's capacity/data limits, many runs were necessary to gather all of the data. This resulted in multiple files being generated for each ESG pillar. With this, they needed to be aggregated for the next steps. This could simply be done with pandas and its concatenation function as seen below with loops to go through the multiple files:

In [ ]:
#Importing Pandas Package:
import pandas as pd

#Pillar file names to be used:
pillar_file = ['env_','soc_','gov_']

#Loop to use each pillar file name:
for pillar in pillar_file:

  #List comprehension to read in each file:
  dfs = [pd.read_csv(pillar+str(i)+'.csv', 
                     usecols=[1,2,3], 
                     index_col='ticker') for i in range(7)]
  
  #Concatenate files + place it into new csv file:
  all = pd.concat(dfs)
  all.to_csv(pillar+'_all.csv')

all  #Show example dataframe made

,field,value
ticker,,
AEHR UR Equity,INDUSTRY_SECTOR,Technology
AEHR UR Equity,INDUSTRY_GROUP,Semiconductors
AEHR UR Equity,INDUSTRY_SUBGROUP,Semiconductor Equipment
AEHR UR Equity,GICS_SECTOR_NAME,Information Technology
AEHR UR Equity,GICS_INDUSTRY_NAME,Semiconductors & Semiconductor
...,...,...
ZG UW Equity,SIZE_OF_NOMINATION_COMMITTEE,2
ZG UW Equity,BOARD_SIZE,9
ZG UW Equity,TOTAL_AWARDED_PAY_AMOUNT,35678903.67235156
ZG UW Equity,TOTAL_BONUSES_PAID_TO_EXECUTIVES,0.0
ZG UW Equity,YEARS_AUDITOR_EMPLOYED,5.0

- After reviewing the fields that came out to be significant, it was seen that some fields were missing. As a result, all of the other Environmental fields were regathered from Bloomberg, which resulted in about 60 "csv" files, so they also need to be concatenated together into one:

In [ ]:
#Importing Pandas Package:
import pandas as pd

#Three files per number:
letters = ['a','b','c']

#Empty list to store initial DFs:
dfs = []
path = '/content/'

#For loop to read 20 by 3 files:
for i in range(20):

  #Comp list to read 3 times for each loop:
  d = [pd.read_csv(path+str(i+1)+l+'.csv', 
                     usecols=[1,2,3], 
                     index_col='ticker') for l in letters]
  
  #Concatenate the three into one and add to list:
  all_f = pd.concat(d)
  dfs.append(all_f)
  
#Concatenate files + place it into new csv file:
all = pd.concat(dfs)
all.to_csv('env_all.csv')

all  #Show example dataframe made

                                   field                   value
ticker
ALRM UW Equity           INDUSTRY_SECTOR  Consumer, Non-cyclical
ALRM UW Equity            INDUSTRY_GROUP     Commercial Services
ALRM UW Equity         INDUSTRY_SUBGROUP       Protection-Safety
ALRM UW Equity          GICS_SECTOR_NAME  Information Technology
ALRM UW Equity        GICS_INDUSTRY_NAME                Software
...                                  ...                     ...
YELL UW Equity      WIND_ENERGY_CAPACITY                     NaN
YELL UW Equity    WIND_ENERGY_PRODUCTION                     NaN
YELL UW Equity  WIND_%_ENERGY_PRODUCTION                     NaN
YELL UW Equity    WOOD_CERTIFIED_SOURCES                     NaN
YELL UW Equity            ZEV_PCT_OF_FLT                     NaN

[1769636 rows x 2 columns]

- Above, the rather huge file can be seen with all of the Environmental pillar data for the Nasdaq Composite Index stocks. The process of actually identifying which fields to use for each pillar can now begin.

## **Identifying ESG Fields: Pillars & Sectors**

---


With the files prepared for each ESG pillar containing the respective data for each Nasdaq Composite Index stock, the process of choosing which fields to use can be done. First, the three files prepared above need to be read in and rearranged due to the clear redundant format seen above (repeating stock names and fields). To do this, the files can be read in with Pandas with a comprehension list, assigned to three different variables, and go through the "pivot" function to rearrange the DataFrames:
- *Also deleting some grouping columns after trying them all out and choosing the GICS sector one only.*

In [ ]:
#Necessary Packages:
import pandas as pd
import numpy as np

#Paths of each ESG pillar data file:
env_path = "env_all.csv"   #Environmental data
soc_path = "soc_all.csv"   #Social data
gov_path = "gov_all.csv"   #Governance data

files = [env_path, soc_path, gov_path]

#Read in files into list of DFs:
dfs = [pd.read_csv(f) for f in files]

#Assign proper ESG variable to each:
env_df, soc_df, gov_df = dfs[0], dfs[1], dfs[2]

#Function to rearrange dataframes from redundant format:
fix = lambda df: df.pivot(index='ticker', columns='field', values='value')
env_fix, soc_fix, gov_fix = fix(env_df), fix(soc_df), fix(gov_df)  

#Drop Unused Columns of Grouping:
d = ['INDUSTRY_SECTOR','INDUSTRY_GROUP','INDUSTRY_SUBGROUP',
        'GICS_INDUSTRY_NAME','GICS_INDUSTRY_GROUP_NAME']
drop_cols = lambda df: df.drop(d, axis=1, inplace=True)
drop_cols(env_fix); drop_cols(soc_fix); drop_cols(gov_fix)

#Exhibit new format of the DataFrames:
env_fix.head(3)

field,3RD_PTY_CERTIFIED_FORESTLAND,ABSOLUTE_CO2_EMISSIONS,ABSOLUTE_NDC_2030_TARGET,AIR_POLLUTION_REDUCTION_POL,ALTERNATIVE_FUEL_USED,ALTERNATIVE_FUEL_USE_PCT,ALUMINUM_CERTIFIED_SOURCES,ALUMINUM_RENEWABLE_SOURCES,AMOUNT_OF_FOOD_WASTE_GENRTD,AMOUNT_OF_GREEN_SUSTAIN_REV,...,WIND_CAPACITY_ADDITIONS,WIND_ENERGY_CAPACITY,WIND_ENERGY_PRODUCTION,WOOD_CERTIFIED_SOURCES,WTR_REDUCT_TGT_BASE_YR,WTR_REDUCT_TGT_TARGET_YR,WTR_RED_TARGET_SPEC_LFL_CONS,WTR_TARGET_PCT_ACHIEVED,WT_MAT_RECVD_TAKE_BACK_PROG,ZEV_PCT_OF_FLT
ticker,,,,,,,,,,,,,,,,,,,,,
AAL UW Equity,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAME UQ Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAOI UQ Equity,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- With the better format of the data, the current number of stocks and fields for each ESG pillar can be shown along with the number of stocks per GICS sector:

In [ ]:
#Show current number of stocks and fields:
print('Stocks: ' + str(len(env_fix)) + ' \nE Fields: ' + 
      str(len(env_fix.columns)) +
      '\nS Fields: ' + str(len(soc_fix.columns)) + 
      '\nG Fields: ' + str(len(gov_fix.columns)) + '\n')

#Show number of stocks per GICS sector:
print(env_fix.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count())

Stocks: 1983
E Fields: 887
S Fields: 89
G Fields: 54

GICS_SECTOR_NAME
Communication Services    115
Consumer Discretionary    191
Consumer Staples           69
Energy                     48
Financials                361
Health Care               568
Industrials               189
Information Technology    341
Materials                  36
Real Estate                39
Utilities                  17
Name: GICS_SECTOR_NAME, dtype: int64

- As it can be seen, some groups have relatively low amount of stocks, so it may be good to join some groups. Most statisticians agree that the minimum sample size to get any kind of meaningful result is 100. Therefore, we aimed to combine the sectors in a way that the sample size is n > 100.  Here, "Real Estate" stocks will be joined into "Financials," "Energy" and "Materials" into "Utilities," and both consumer groups into one "Consumer." This can be done with a conditional and assignment to those respective new values:

In [ ]:
#Function to join groups named above:
def join(df):
  '''
  df: DataFrame of stocks and ESG pillar fields
  returns DataFrame with newly assigned groups
  '''
  #Make Real Estate stocks as Financials:
  df = df.replace('Real Estate', 'Financials')

  #Make Energy and Materials as Utilities:
  df = df.replace(['Energy','Materials'], 'Utilities')

  #Make C. Disretionary and C. Staples as Consumer:
  df = df.replace(['Consumer Discretionary','Consumer Staples'], 'Consumer')

  return df

#Use function and show new group amounts:
env, soc, gov = join(env_fix), join(soc_fix), join(gov_fix)  
env.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count()

GICS_SECTOR_NAME
Communication Services    115
Consumer                  260
Financials                400
Health Care               568
Industrials               189
Information Technology    341
Utilities                 101
Name: GICS_SECTOR_NAME, dtype: int64

- Now, a function can be constructed to retrieve the fields that contain 50% or more data, for significant amount of data is needed to efficiently fill in missing information and calculate meaningful scores.

In [ ]:
#Function to give significant (above 50% data) fields:
def sig_fields(pillar):
    '''
    pillar: DataFrame of specific ESG pillar and its fields.
    returns a list of lists containing fields that are significant 
            (have above 50% data availability) for each sector.
    '''
    #Count of each field per sector and total stocks per sector:
    field_count = pillar.groupby('GICS_SECTOR_NAME').count()
    sec_totals = pillar.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count() 
    
    #Calculate percentage of data per sector for each field:
    data_pct = field_count.div(sec_totals, axis=0)
    
    sec_lists = []    #empty list to store lists of fields for each sector
    
    #Loop over each sector and form a list of desired fields:
    for index in data_pct.index:
        
        #Make a DataFrame for current sector:
        sec_df = data_pct.loc[index]
        
        #Filter out fields with less than 50% data:
        sec_df = sec_df[sec_df > 0.49]
        
        #Append those fields to the empty list:
        sec_lists.append(sec_df.index.tolist() + ['GICS_SECTOR_NAME'])
    
    return sec_lists   #Return back the list of desired fields

sig_fields(gov)[3]

['GICS_SECTOR_NAME']

- It has been found that some of the sectors, such as the Health Care one, lacked significant data. With this, stocks will be dropped if they do not have more than 6 fields for the Governance pillar:

In [ ]:
#Group by stock names and count amount of data:
g = gov_df.groupby('ticker').count()

#Filter out names with less than 6 fields:
g_new = g[g.value > 6]
env = env.loc[g_new.index]
soc = soc.loc[g_new.index]
gov = gov.loc[g_new.index]  

#Show example of governance fields available 
  #(50% or more data):
print(sig_fields(gov)[3])

#Show new number of total stocks (original: 3671):
print('\nStocks: '+str(len(gov)))

['AGE_OF_OLDEST_DIRECTOR', 'AGE_OF_YOUNGEST_DIRECTOR', 'AUDIT_COMMITTEE_MEETINGS', 'AVERAGE_BOD_TOTAL_COMPENSATION', 'BOARD_MEETINGS_PER_YR', 'BOARD_OF_DIRECTORS_AGE_RANGE', 'BOARD_SIZE', 'BOD_AGE_RANGE', 'BOD_AVERAGE_AGE', 'HIGHEST_BONUS_AMOUNT_PAID', 'HIGHEST_SALARY_AMOUNT_PAID', 'INDEPENDENT_DIRECTORS', 'NOMINATION_CMTE_MTG_ATTEND_%', 'NUMBER_OF_BOD_CHANGES_DURING_FY', 'NUMBER_OF_DIRECTORS_ON_BOARD', 'NUMBER_OF_MEMBERS_OF_AUD_CMTE', 'NUMBER_OF_WOMEN_EXECUTIVES', 'NUMBER_OF_WOMEN_ON_BOARD', 'NUM_BRD_MEMB_SERVING_OVER_5Y', 'NUM_CEO_&_EQUIVALENT_CHANGES', 'NUM_CFO_&_EQUIVALENT_CHANGES', 'NUM_EXECUTIVE_CHANGES', 'NUM_OF_MEMBERS_OF_CMPNSTN_CMTE', 'NUM_OF_NON_EXECUTIVE_DIR_ON_BRD', 'PCT_BRD_MEMBERS_THAT_ARE_WOMEN', 'PCT_EXECUTIVES_HOLDING_SHARES', 'PCT_INDEPENDENT_DIRECTORS', 'PCT_NON_EXEC_DIR_ON_AUD_CMTE', 'PCT_NON_EXEC_DIR_ON_CMPNSTN_CMTE', 'PCT_NON_EXEC_DIR_ON_NOM_CMTE', 'PCT_OF_EXECUTIVES_THAT_ARE_WOMEN', 'PCT_OF_NON_EXECUTIVE_DIR_ON_BRD', 'PCT_OF_NON_EXEC_DIR_ON_BRD', 'PCT_WOMEN_ON_BOARD', 'PERCENTAGE_OF_FEMALE_EXECUTIVES', 'SIZE_OF_AUDIT_COMMITTEE', 'SIZE_OF_COMPENSATION_COMMITTEE', 'SIZE_OF_CSR_SUSTAIN_COMMTTEE', 'SIZE_OF_NOMINATION_COMMITTEE', 'TOTAL_BONUSES_PAID_TO_EXECUTIVES', 'YEARS_AUDITOR_EMPLOYED', 'GICS_SECTOR_NAME']

Stocks: 1983

- With the number of stocks cut down significantly, it can be seen how there are now plenty of Governance fields unlike before for this sector/group. The updated amount for each sector can be seen below:

In [ ]:
gov.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count()

GICS_SECTOR_NAME
Communication Services    115
Consumer                  260
Financials                400
Health Care               566
Industrials               189
Information Technology    342
Utilities                 102
Name: GICS_SECTOR_NAME, dtype: int64

- Even though there are less stocks now, every group still has more than 100 stocks, which can give a good amount for creating scores based on their values for each field.


- With this, the previously made function "sig_fields" can be used to find the fields with more than 50% data available for each sector and each ESG pillar. This then can be used to further filter the data to only these significant fields. The fields ended up being the same for Social and Governance groups, so the filtering is done in general for each of those pillars. However, the Environmental data has different fields for each sector, so this needs to be further examined.

In [ ]:
#Get significant fields with function above with filtered data:
e_fields = sig_fields(env)
s_fields = sig_fields(soc)
g_fields = sig_fields(gov)

#Filter data to significant fields found above:
soc = soc.loc[:, s_fields[1]]
gov = gov.loc[:, g_fields[0]]

#Show updated (rows, columns) for each ESG pillar data:
print('(Stocks, ESG Fields):')
print('S: ' + str(soc.shape))
print('G: ' + str(gov.shape))

(Stocks, ESG Fields):
S: (1983, 20)
G: (1983, 42)

- Here, the different amount of fields found to be significant for each group can be seen for the Environmental data:

In [ ]:
#Comp list to see number of E fields for each sector:
l = [len(f) for f in e_fields]
l

[73, 72, 71, 72, 76, 76, 71]

- Now, it can be shown how each sector does not have the same fields through an equality measure where "True" shows the same field and "False" shows different fields:

In [ ]:
#Seeing if list of E fields are equal:
e_fields[-3] == e_fields[-2]

False

- The next step is to choose the fields desired for each sector and ESG pillar, for only about 10 are needed for each pillar to calculate ESG scores. With this, the sectors and their relative data (percentage of availability) can be examined and handpicked accordingly. The following function is used to generate "csv" files for each sector with the data availability for the respective ESG fields for them to be handpicked:

In [ ]:
#Function to give relative data amount for each field:
def data_pct(pillar_df):
    '''
    pillar_df: DataFrame of stocks and its ESG fields for a pillar
    returns DataFrame with relative amount of data for each field per 
            each sector/group.
    '''
    #Count of each field per sector and total stocks per sector:
    fields = pillar_df.groupby('GICS_SECTOR_NAME').count()
    totals = pillar_df.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count()
    
    #Calculate percentage of data per sector for each field:
    data_pct = fields.div(totals, axis=0)
    
    return data_pct

#Function to give DFs for each sector with pct data of fields:
def sector_data(pillar_df, pillar):
    '''
    pillar_df: DataFrame of ESG pillar data for stocks.
    pillar: string name for ESG pillar being used.
    returns DataFrames for each sector with percentage data for each field
    generates csv files for each sector with fields and data pcts.
    '''
    #Get list of sectors/groups + empty list to store DFs of each:
    sectors = pillar_df.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count().index
    dfs = []
    
    #Loop to filter by each sector and append its pct data:
    for sec in sectors:
        
        #Filter DF by sector:
        filt_df = pillar_df[pillar_df.GICS_SECTOR_NAME == sec]
        
        #Use prev made function to get pct of data for each field:
        pct_df = data_pct(filt_df)
        
        #Generate "csv" file for this DF:
        pct_df.to_csv(sec+'_'+pillar+'.csv')
        
        #Add DF to the previously made list:
        dfs.append(pct_df)
    
    return dfs
  
#Sample exhibition of what the files look like:
s = sector_data(soc, 'soc')
s[1].iloc[:,:4]

field,ADULT_ENTERTAINMENT_MSI_CI_ID,ALCOHOLIC_BEVERAGES_MSI_CI_ID,ANIMAL_TESTNG_MSI_CI_ID,ANTI-BRIBERY_ETHICS_POLICY
GICS_SECTOR_NAME,,,,
Consumer,1.0,1.0,1.0,0.834615

- With excel, we were able to choose the fields we felt were best for each pillar taking into account the data availability and the field representation. We attempted to choose a good amount while also keeping it concise. Fields that also represented basically the same thing were taken away to avoid redundancy. All of the fields will be shown next for each pillar as every sector actually had the same fields in the end. However, the scoring still is to occur for each separate sector as each will have their own distributions depending on business models and related factors.

# **ESG Scores Calculation Approach:**
---

Almost all of the necessary information has been gathered to calculate the actual ESG scores for each firm. Before proceeding, the revenue needs to be gathered for each one as we believe it can be used to make certain fields such as greenhouse gas emmissions more comparable between firms. With this, Bloomberg's Python API can once again be used with the following line instead:



```
rev_data = con.ref(names, 'SALES_REV_TURN')
rev_data.to_csv('revenue.csv')
```
- *names:* list of stock symbols.
- *'SALES_REV_TURN':* Bloomberg field name for firm revenue of operating activities.

## **Revenue Data:**

Due to some of the revenue data coming in as negative or 0, they can be replaced with the mean revenue for a better representation in these terms and to avoid weird results such as negative scores. The code below shows how those firms receive the mean revenue from their respective GICS sectors/groups:

In [ ]:
#Necessary Packages:
import pandas as pd
import numpy as np

#Read in revenue data:
rev = pd.read_csv('revenue.csv')

#Reformat:
rev = rev.pivot(index='ticker', columns='field', values='value')
rev

field           SALES_REV_TURN
ticker
AAL UW Equity        29882.000
AAME UQ Equity         199.554
AAOI UQ Equity         211.565
AAON UW Equity         534.517
AAPL UW Equity      365817.000
...                        ...
ZS UW Equity           673.100
ZUMZ UW Equity        1183.867
ZVO UW Equity          263.033
ZYNE UQ Equity           0.000
ZYXI UW Equity         130.301

[1983 rows x 1 columns]

- The negative and 0 values can be easily replaced with the "loc" function with a conditional statement:

In [ ]:
#Fill missing values with mean:
rev.fillna(rev.mean(), inplace=True)

#Set the mean for any values that are negative or 0:
rev[((rev < 0) | (rev == 0))] = rev.values.mean()

#Show there are no more negatives or 0s:
rev[((rev < 0) | (rev == 0))]

field           SALES_REV_TURN
ticker
AAL UW Equity              NaN
AAME UQ Equity             NaN
AAOI UQ Equity             NaN
AAON UW Equity             NaN
AAPL UW Equity             NaN
...                        ...
ZS UW Equity               NaN
ZUMZ UW Equity             NaN
ZVO UW Equity              NaN
ZYNE UQ Equity             NaN
ZYXI UW Equity             NaN

[1983 rows x 1 columns]

- As seen, there are no more 0s or negative revenue values, so the ESG calculations can now begin.

## **Environmental (E) Scores Creation:**



After the data preprocessing of revenue, the next step is the actual creation of the scores. First though, we need to determine how we want to weight the different areas in Environmental, Social, and Governance. 
For Environmental, the most complex score, we decided to break the fields up into three subgroups with the following weights due to the data availability of each and the type of data. 
  - The GHG emissions fields have large data availability for all and is a major worry of environmental causes. The policy fields are simple binary data stating wether or not firms have certian policies or have done things such as explictly exhibiting statements, actions, and other things related to environmental causes. The regulation fields state percentage of tests passed by the firm regarding each topic, such as water waste, in regards to the targets and limits set by the Paris Climate Conventions. The weights are as shown:

    1. **GHG Emissions: 35%**
    2. **Environmental Policies: 15%**
    3. **Regulation / Paris Climate Conventions: 50%**


- With this, the process can begin by importing the necessary packages, reading the csv files with the environmental data, and setting the proper fields for each component of E score:

In [ ]:
#Packages needed:
import pandas as pd
import numpy as np

### Environmental (E) Score ###
#Read in files:
env_data = pd.read_csv('env.csv', index_col='ticker')

#Revenue Based Fields (Emissions per Sales & Eligible Revenue):
rev_f = ['GICS_SECTOR_NAME',
         "TOTAL_GHG_CO2_ESTIMATE_PER_SALES",
         "TOTAL_GHG_ESTIMATE",
         "GHG_SCOPE_1_ESTIMATE",
         "GHG_SCOPE_2_ESTIMATE"]

#Policy fields:
pol_f = ['GICS_SECTOR_NAME',
         "BIODIVERSITY_POLICY",
         "GREEN_BUILDING",
         "EMISSION_REDUCTION",
         "ENERGY_EFFIC_POLICY",
         "INDEPENDENT_ASSESSMENT_CONDUCTED",
         "RENEWABLE_ELECTRICITY_TARGET_POL",
         "SUS_SUP_GDL_ENC_ESG_AREA_PUB_DIS",
         "CLIMATE_CHG_POLICY",
         "ENVIRON_QUAL_MGT",
         "ENVIRON_SUPPLY_MGT",
         "WATER_POLICY"]

#Regulation fields (Paris Climate Convention Targets/Testing):    
reg_f = ['GICS_SECTOR_NAME',
         "EU_TAX_EST_DNSH_ADP_LVL_1",
         "EU_TAX_EST_DNSH_BIODIV_LVL_1",
         "EU_TAX_EST_DNSH_MIT_LVL_1",
         "EU_TAX_EST_DNSH_POLLUTION_LVL_1",
         "EU_TAX_EST_ELIGIBLE_REV_PCT",
         "EU_TAX_EST_DNSH_WASTE_LVL_1"]
    
#Revenue data:
rev = pd.read_csv('revenue_adj.csv', index_col='ticker')

env_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (285,510,761) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,3RD_PTY_CERTIFIED_FORESTLAND,ABSOLUTE_CO2_EMISSIONS,ABSOLUTE_NDC_2030_TARGET,AIR_POLLUTION_REDUCTION_POL,ALTERNATIVE_FUEL_USED,ALTERNATIVE_FUEL_USE_PCT,ALUMINUM_CERTIFIED_SOURCES,ALUMINUM_RENEWABLE_SOURCES,AMOUNT_OF_FOOD_WASTE_GENRTD,AMOUNT_OF_GREEN_SUSTAIN_REV,...,WIND_CAPACITY_ADDITIONS,WIND_ENERGY_CAPACITY,WIND_ENERGY_PRODUCTION,WOOD_CERTIFIED_SOURCES,WTR_REDUCT_TGT_BASE_YR,WTR_REDUCT_TGT_TARGET_YR,WTR_RED_TARGET_SPEC_LFL_CONS,WTR_TARGET_PCT_ACHIEVED,WT_MAT_RECVD_TAKE_BACK_PROG,ZEV_PCT_OF_FLT
ticker,,,,,,,,,,,,,,,,,,,,,
AAL UW Equity,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAME UQ Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAOI UQ Equity,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAON UW Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAPL UW Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- With the data ready to go, the missing data can be filled in with the sector averages for the emission and regulation fields. First, the data can be filtered for those columns only, and then a loop can be used to fill in each sector average:

In [ ]:
#Adjust fields needed the fill of NaNs:
env = env_data.loc[:, (rev_f + reg_f[1:])]

#Fill in NaNs with sector mean:
#List of sectors:
sectors = list(env.groupby('GICS_SECTOR_NAME').GICS_SECTOR_NAME.count().index)

#Loop to fill NaNs with sector mean + empty list to store each df:
dfs = []
for sec in sectors:
    
    #Mean of sector
    mean = env[env.GICS_SECTOR_NAME == sec].iloc[:,1:].mean()
    
    #Filtered df for current sector:
    filt = env[env.GICS_SECTOR_NAME == sec].iloc[:, 1:]   
    
    #Fill in with mean + append to list of dfs:
    filled_df = filt.fillna(mean)
    dfs.append(filled_df)

#Put all filled dfs into one again + add back the sector columns:    
e_1 = pd.concat(dfs)
e_1 = e_1.sort_index()
e_1 = e_1.merge(env.GICS_SECTOR_NAME, right_on='ticker', left_on='ticker')

e_1[e_1.isnull()].sum().sum()   #Show there are 0 NaNs

0.0

- Now, the emission fields can be divided by sales to make it more comparable among each firm. This will yield emissions of greenhouse gases per sales of firms. It will show how much the firm is polluting with gases as they make sales from their products and services, which can show a more relative and reasonable number:

In [ ]:
#Make each field per sales (divide by sales):
e_1.iloc[:, 1:4] = e_1.iloc[:, 1:4].div(rev.values, axis=0)

e_1.head()

,TOTAL_GHG_CO2_ESTIMATE_PER_SALES,TOTAL_GHG_ESTIMATE,GHG_SCOPE_1_ESTIMATE,GHG_SCOPE_2_ESTIMATE,EU_TAX_EST_DNSH_ADP_LVL_1,EU_TAX_EST_DNSH_BIODIV_LVL_1,EU_TAX_EST_DNSH_MIT_LVL_1,EU_TAX_EST_DNSH_POLLUTION_LVL_1,EU_TAX_EST_ELIGIBLE_REV_PCT,EU_TAX_EST_DNSH_WASTE_LVL_1,GICS_SECTOR_NAME
ticker,,,,,,,,,,,
AAL UW Equity,932.003,0.791424,0.783724,0.007700,100.0,75.0,95.83,75.00,1.13446,50.0,Industrials
AAME UQ Equity,194.092,0.164813,0.098470,0.066343,0.0,0.0,0.00,0.00,37.07510,0.0,Financials
AAOI UQ Equity,447.700,0.380162,0.132172,0.247990,25.0,25.0,12.50,33.33,100.00000,20.0,Information Technology
AAON UW Equity,154.549,0.131238,0.064657,0.066582,25.0,0.0,50.00,0.00,100.00000,20.0,Industrials
AAPL UW Equity,2.657,0.002233,0.000115,0.002118,0.0,0.0,0.00,0.00,0.00000,0.0,Information Technology

- The first component of the E score can now be calculated. First, the data can be filtered with the emission fields only:

In [ ]:
## E Score Part 1: GHG ##
#Filter data for emission fields:
e_ghg = e_1.iloc[:, :4]
e_ghg = np.abs(e_ghg)                #2 stocks has a negative value

e_ghg.head()

,TOTAL_GHG_CO2_ESTIMATE_PER_SALES,TOTAL_GHG_ESTIMATE,GHG_SCOPE_1_ESTIMATE,GHG_SCOPE_2_ESTIMATE
ticker,,,,
AAL UW Equity,932.003,0.791424,0.783724,0.007700
AAME UQ Equity,194.092,0.164813,0.098470,0.066343
AAOI UQ Equity,447.700,0.380162,0.132172,0.247990
AAON UW Equity,154.549,0.131238,0.064657,0.066582
AAPL UW Equity,2.657,0.002233,0.000115,0.002118

- The next step is to invert the data as these fields have the meaning of "more is worse." By inverting the data, the biggest value becomes the smallest, and then they can simply be added for a larger score becoming a better one. This can be done by simply subtracting the max of each field by each value:

In [ ]:
#Invert Scores as More is Worse:
ghg_inv = e_ghg.max() - e_ghg
ghg_inv.head()

,TOTAL_GHG_CO2_ESTIMATE_PER_SALES,TOTAL_GHG_ESTIMATE,GHG_SCOPE_1_ESTIMATE,GHG_SCOPE_2_ESTIMATE
ticker,,,,
AAL UW Equity,58655.976,1082.426813,429.414082,331.380503
AAME UQ Equity,59393.887,1083.053424,430.099336,331.321860
AAOI UQ Equity,59140.279,1082.838074,430.065633,331.140213
AAON UW Equity,59433.430,1083.086998,430.133149,331.321621
AAPL UW Equity,59585.322,1083.216004,430.197690,331.386085

- Each value can now be divided by the new maximum value to get where each data point lies within each field. This will give a percentage score out of 1 (100%) in terms of how large (good since more is better now) that data point is relative to the range of the data field:

In [ ]:
#Calculate percentage of max:
ghg_max = ghg_inv / ghg_inv.max()
ghg_max.head()

,TOTAL_GHG_CO2_ESTIMATE_PER_SALES,TOTAL_GHG_ESTIMATE,GHG_SCOPE_1_ESTIMATE,GHG_SCOPE_2_ESTIMATE
ticker,,,,
AAL UW Equity,0.984366,0.999269,0.998178,0.999977
AAME UQ Equity,0.996750,0.999848,0.999771,0.999800
AAOI UQ Equity,0.992494,0.999649,0.999693,0.999252
AAON UW Equity,0.997414,0.999879,0.999850,0.999799
AAPL UW Equity,0.999963,0.999998,1.000000,0.999994

- With that done, the average for each stock can be taken by adding all field values (each row) and dividing it by the number of fields (columns):

In [ ]:
#Take average of all fields:
num_fields = len(ghg_max.columns)
ghg_max['ghg_score'] = ghg_max.sum(axis=1) / num_fields   #sum rows

ghg_max.ghg_score

ticker
AAL UW Equity     0.995448
AAME UQ Equity    0.999042
AAOI UQ Equity    0.997772
AAON UW Equity    0.999235
AAPL UW Equity    0.999988
                    ...
ZS UW Equity      0.999383
ZUMZ UW Equity    0.999578
ZVO UW Equity     0.999322
ZYNE UQ Equity    0.991822
ZYXI UW Equity    0.998268
Name: ghg_score, Length: 1974, dtype: float64

- The first component is done, so the policies component can now be calculated. First, the data can be filtered for those fields only, and the NaNs, Ns, and Ys can be filled accordingly (to 1s and 0s). 1 means "yes", and 0 means "no." The NaNs are also filled with 0s as this is to incentivize firms in reporting ESG related data instead of not doing so:

In [ ]:
## E Score Part 2: Policies ##
e_pol = env_data.loc[:, pol_f]

#Fill NaNs and Ns with 0 and Ys with 1:
e_pol.replace(['N', None], 0, inplace=True)  #NaNs and Ns to 0
e_pol.replace('Y', 1, inplace=True)          #Ys to 1

e_pol.head()

,GICS_SECTOR_NAME,BIODIVERSITY_POLICY,GREEN_BUILDING,EMISSION_REDUCTION,ENERGY_EFFIC_POLICY,INDEPENDENT_ASSESSMENT_CONDUCTED,RENEWABLE_ELECTRICITY_TARGET_POL,SUS_SUP_GDL_ENC_ESG_AREA_PUB_DIS,CLIMATE_CHG_POLICY,ENVIRON_QUAL_MGT,ENVIRON_SUPPLY_MGT,WATER_POLICY
ticker,,,,,,,,,,,,
AAL UW Equity,Industrials,0,1,1,1,1,1,1,1,1,1,1
AAME UQ Equity,Financials,0,0,0,0,0,0,0,0,0,0,0
AAOI UQ Equity,Information Technology,0,0,0,0,0,0,0,0,1,0,0
AAON UW Equity,Industrials,0,0,1,1,0,0,0,1,0,0,1
AAPL UW Equity,Information Technology,0,0,0,0,1,0,0,0,0,0,0

- The average of each stock can now be taken by summing all the rows and dividing it by the numnber of fields:

In [ ]:
#Average of each firm:
num_fields = len(e_pol.columns[1:])
e_pol['avg_score'] = e_pol.iloc[:, 1:].sum(axis=1) / num_fields 

e_pol.avg_score

ticker
AAL UW Equity     0.909091
AAME UQ Equity    0.000000
AAOI UQ Equity    0.090909
AAON UW Equity    0.363636
AAPL UW Equity    0.090909
                    ...
ZS UW Equity      0.000000
ZUMZ UW Equity    0.181818
ZVO UW Equity     0.000000
ZYNE UQ Equity    0.000000
ZYXI UW Equity    0.000000
Name: avg_score, Length: 1974, dtype: float64

- With the E policies component done, the final part can be calculated for the regulation/testing fields. The similar process can be done of filtering the data first:

In [ ]:
## E Score Part 3: Paris Testing/Regulation ###
e_test = env.loc[:, reg_f[1:]]
e_test.head()

,EU_TAX_EST_DNSH_ADP_LVL_1,EU_TAX_EST_DNSH_BIODIV_LVL_1,EU_TAX_EST_DNSH_MIT_LVL_1,EU_TAX_EST_DNSH_POLLUTION_LVL_1,EU_TAX_EST_ELIGIBLE_REV_PCT,EU_TAX_EST_DNSH_WASTE_LVL_1
ticker,,,,,,
AAL UW Equity,100.0,75.0,95.83,75.00,1.13446,50.0
AAME UQ Equity,0.0,0.0,0.00,0.00,37.07510,0.0
AAOI UQ Equity,25.0,25.0,12.50,33.33,100.00000,20.0
AAON UW Equity,25.0,0.0,50.00,0.00,100.00000,20.0
AAPL UW Equity,0.0,0.0,0.00,0.00,0.00000,0.0

- Because this data is already in percentage form, it can already be added together with the average taken in the end (sum rows and divide by number of columns):

In [ ]:
#Take average of all fields:
num_fields = len(e_test.columns)
e_test['reg_score'] = e_test.sum(axis=1) / num_fields 

e_test.reg_score

ticker
AAL UW Equity     66.160743
AAME UQ Equity     6.179183
AAOI UQ Equity    35.971667
AAON UW Equity    32.500000
AAPL UW Equity     0.000000
                    ...
ZS UW Equity      36.666667
ZUMZ UW Equity    17.221667
ZVO UW Equity     16.666667
ZYNE UQ Equity     0.000000
ZYXI UW Equity     0.000000
Name: reg_score, Length: 1974, dtype: float64

- This concludes each E component, so now the actual weightings can be implemented in a weighted average summation. The weights were previously discussed, so the following can be done:

In [ ]:
#@title 

#Calculate total E score with weights:
    #emissions weight: 0.35
    #Policy weight: 0.15
    #regulations weight: 0.5
ghg_wgt = 0.35
pol_wgt = 0.15
reg_wgt = 0.5

E_raw = (ghg_max.ghg_score*ghg_wgt)+(e_pol.avg_score*pol_wgt)+(e_test.reg_score*reg_wgt)
E_raw.head()

ticker
AAL UW Equity     33.565142
AAME UQ Equity     3.439256
AAOI UQ Equity    18.348690
AAON UW Equity    16.654278
AAPL UW Equity     0.363632
dtype: float64

- With the total E average scores generated, the final step of actually ranking them can be done. This will place the scores from 0 to 1 (percentage form) and place them in their respective spots related to the other firms, giving the comparable and final Environmental score:

In [ ]:
#Ranking E scores:
E_score = E_raw.rank(pct=True)

#Format scores out of 100 and 2 decimals:
E_score = E_score * 100
E_score = E_score.round(2)

E_score.sort_values()

ticker
MRSN UW Equity      0.05
NEGG UR Equity      0.10
CRDL UR Equity      0.15
OMEX UR Equity      0.20
BCAB UQ Equity      0.25
                   ...
MSFT UW Equity     99.80
FSLR UW Equity     99.85
ON UW Equity       99.90
FLEX UW Equity     99.95
HST UW Equity     100.00
Length: 1974, dtype: float64

- The Environmental scores are now done. The Social scores are next.

## **Social (S) Scores Creation:**

The social fields are unfortunately not as versatile as the other two pillars, for they are mostly binary fields that only state wether or not the firms have certain socially ethical policies, statements, or actions. However, there is one field (percentage of employees unionized) that provides percentage data that may be more meaningful. Nonetheless, we have 9 different metrics to build our social score with. With this, the following is the makeup of this score due to those reasons:
1. **Binary Policies: 80%**
2. **Percentage Unionized Field: 20%**

- With the weights for each Social score component, the process can begin. As previously done, the fields can be shown as a list, and the social data can be read in.

In [ ]:
#Read in Social data:
soc = pd.read_csv('soc.csv', index_col='ticker')

#Social fields:
s_fields = ["GICS_SECTOR_NAME",
            "ANTI-BRIBERY_ETHICS_POLICY",
            "EMPLOYEE_CSR_TRAINING",
            "EMP_PROT_WHISTLE_BLOWER_POLICY",
            "ETHICS_POLICY",
            "HEALTH_SAFETY_POLICY",
            "HUMAN_RIGHTS_POLICY",
            "MODERN_SLAVERY_STATEMENT",
            "POLICY_AGAINST_CHILD_LABOR",
            "PCT_EMPLOYEES_UNIONIZED"]

soc.head()

,GICS_SECTOR_NAME,ANTI-BRIBERY_ETHICS_POLICY,EMPLOYEE_CSR_TRAINING,EMP_PROT_WHISTLE_BLOWER_POLICY,ETHICS_POLICY,HEALTH_SAFETY_POLICY,HUMAN_RIGHTS_POLICY,MODERN_SLAVERY_STATEMENT,POLICY_AGAINST_CHILD_LABOR,PCT_EMPLOYEES_UNIONIZED
ticker,,,,,,,,,,
AAL UW Equity,Industrials,1,0,1,1,1,1,1,1,85.0
AAME UQ Equity,Financials,1,0,1,1,1,0,0,0,NaN
AAOI UQ Equity,Information Technology,0,0,1,1,0,0,0,0,NaN
AAON UW Equity,Industrials,0,0,1,1,1,0,0,0,0.0
AAPL UW Equity,Information Technology,1,0,1,1,1,1,1,1,NaN

- The data already has 1s and 0s for the Ys and Ns, so the NaNs can be filled with Ns as well as the sector averages for the percentage field:

In [ ]:
#Fill binary NaNs with Ns:
soc.iloc[:, 1:9] = soc.iloc[:, 1:9].replace([None], 0)

#Fill in percentage field with sector means:
dfs = []
for sec in sectors:
    
    #Mean of sector
    mean = soc[soc.GICS_SECTOR_NAME == sec].iloc[:, -1].mean()
    
    #Filtered df for current sector:
    filt = soc[soc.GICS_SECTOR_NAME == sec].iloc[:, -1]   
    
    #Fill in with mean + append to list of dfs:
    filled_df = filt.fillna(mean)
    dfs.append(filled_df)

#Concatenate dfs into one again and add back sector column:
s_f = pd.concat(dfs)
s_f = s_f.sort_index()
s_f = pd.DataFrame(s_f)
s_f = s_f.merge(soc.iloc[:,:-1], right_on='ticker', left_on='ticker')
s_f = s_f[s_fields]

s_f.head()

,GICS_SECTOR_NAME,ANTI-BRIBERY_ETHICS_POLICY,EMPLOYEE_CSR_TRAINING,EMP_PROT_WHISTLE_BLOWER_POLICY,ETHICS_POLICY,HEALTH_SAFETY_POLICY,HUMAN_RIGHTS_POLICY,MODERN_SLAVERY_STATEMENT,POLICY_AGAINST_CHILD_LABOR,PCT_EMPLOYEES_UNIONIZED
ticker,,,,,,,,,,
AAL UW Equity,Industrials,1,0,1,1,1,1,1,1,85.000000
AAME UQ Equity,Financials,1,0,1,1,1,0,0,0,0.586919
AAOI UQ Equity,Information Technology,0,0,1,1,0,0,0,0,2.985125
AAON UW Equity,Industrials,0,0,1,1,1,0,0,0,0.000000
AAPL UW Equity,Information Technology,1,0,1,1,1,1,1,1,2.985125

- Now, the first component (policies) can be added and divided by the number of fields for its score:

In [ ]:
#Policy score component (average of sum):
num_fields = len(s_f.columns[1:9])
s_f['pol_score'] = s_f.iloc[:,1:9].sum(axis=1) / num_fields

s_f.pol_score

ticker
AAL UW Equity     0.875
AAME UQ Equity    0.500
AAOI UQ Equity    0.250
AAON UW Equity    0.375
AAPL UW Equity    0.875
                  ...
ZS UW Equity      0.375
ZUMZ UW Equity    0.375
ZVO UW Equity     0.500
ZYNE UQ Equity    0.500
ZYXI UW Equity    0.500
Name: pol_score, Length: 1974, dtype: float64

- Now, the second component can be standardized into the same format as it is in "100.00" form instead of between 0 and 1. To do this, it can simply be divided by 100:

In [ ]:
#Standardize PCT Employees to be decimal form:
s_f['PCT_EMPLOYEES_UNIONIZED'] = s_f['PCT_EMPLOYEES_UNIONIZED'] / 100

s_f.PCT_EMPLOYEES_UNIONIZED.head()

ticker
AAL UW Equity     0.850000
AAME UQ Equity    0.005869
AAOI UQ Equity    0.029851
AAON UW Equity    0.000000
AAPL UW Equity    0.029851
Name: PCT_EMPLOYEES_UNIONIZED, dtype: float64

- Finally, the raw S score can be calculated by using the previously defined weights:

In [ ]:
#S Raw Score:
    #Policies: 80%
    #PCT Employees: 20%
pol_wgt = 0.8
pct_wgt = 0.2
S_raw = (s_f.PCT_EMPLOYEES_UNIONIZED*pct_wgt) + (pol_wgt*s_f.pol_score)

S_raw

ticker
AAL UW Equity     0.870000
AAME UQ Equity    0.401174
AAOI UQ Equity    0.205970
AAON UW Equity    0.300000
AAPL UW Equity    0.705970
                    ...
ZS UW Equity      0.305970
ZUMZ UW Equity    0.300000
ZVO UW Equity     0.418161
ZYNE UQ Equity    0.400000
ZYXI UW Equity    0.402273
Length: 1974, dtype: float64

- The raw scores can now be formatted as previously done with the E scores after they are ranked:

In [ ]:
#Rank S scores:
S_score = S_raw.rank(pct=True)

#Format scores out of 100 and 2 decimals:
S_score = S_score * 100
S_score = S_score.round(2)

S_score.sort_values()

ticker
BVS UW Equity       0.46
CPSS UQ Equity      0.46
SBSI UW Equity      0.46
PVBC UR Equity      0.46
SALM UQ Equity      0.46
                   ...
TRS UW Equity      99.80
INFN UW Equity     99.85
BKR UW Equity      99.90
AAL UW Equity      99.95
CCEP UW Equity    100.00
Length: 1974, dtype: float64

- As shown, the S scores are finalized. Now the last pillar can go through the same process for its score.

## **Governance (G) Scores Creation:**

This pillar contains many relevant fields, all of which are made up of percentages and float numbers. Because of this, this score has the potential to be very strong. As it will be seen below, we created three main groups for this pillar given the fields that are to be shown in the code like with the other two pillars. We have found that there are three main groups that can be used for the data here: meeting commitments, diversity, and interest/bias/integrity fields. The meeting commitments group has fields describing how many people join the meetings for auditing, nomination, compensation, and general board decisions. Also, it takes into account the number of meetings that are made. We feel this strongly shows how governance is either strong or poor for a firm as it can show how the governing bodies are committed to meeting and working together for these important decisions. With this, this is the second highest weighted group, for the bias one has been found to be even more relevant. The diversity group is to receive the least amount of weight because there aren't that many components to it outside of gender and age. If there were more fields describing different races and backgrounds, this group would have certainly received a bigger weight for the G score. With this, the last group is to have the largest weight as it contains the most amount of fields while describing extremely important areas of governance. Here, the group contains fields describing how many unbiased people are part of the board and auditing groups while also describing proper interest incentives such as how executives are compensated. If firms have biased board members, mixed interests, and compensation that doesn't really motivate executives to act on the interest of the owners/firm, then the governance may not be the best. With this, the following are the assigned weights:
1. **Meeting Commitments: 30%**
2. **Diversity: 20%**
3. **Interest/Bias/Integrity: 50%**


- The process of calculating the G score can now begin with the known information. First, like before, the fields can be shown along with the data being read in with Pandas:

In [ ]:
#Read in Governance data:
gov = pd.read_csv('gov.csv', index_col='ticker')

#Meeting commitments fields:
g_meet = ["GICS_SECTOR_NAME",
          "AUDIT_COMMITTEE_MEETINGS",
          "BOARD_MEETINGS_PER_YR",
          "NOMINATION_CMTE_MTG_ATTEND_%",
          "NUM_OF_MEMBERS_OF_CMPNSTN_CMTE",
          "SIZE_OF_AUDIT_COMMITTEE"]

#Diversity fields:
g_diverse = ["GICS_SECTOR_NAME",
             "BOARD_OF_DIRECTORS_AGE_RANGE",
             "PERCENTAGE_OF_FEMALE_EXECUTIVES",
             "PCT_WOMEN_ON_BOARD",
             "NUM_EXECUTIVE_CHANGES",
             "YEARS_AUDITOR_EMPLOYED"]

#Interest/bias/fairness/integrity fields:
g_bias = ["GICS_SECTOR_NAME",
          "PCT_EXECUTIVES_HOLDING_SHARES",
          "NUM_OF_NON_EXECUTIVE_DIR_ON_BRD",
          "PCT_INDEPENDENT_DIRECTORS",
          "PCT_NON_EXEC_DIR_ON_AUD_CMTE",
          "PCT_NON_EXEC_DIR_ON_CMPNSTN_CMTE",
          "PCT_NON_EXEC_DIR_ON_NOM_CMTE",
          "PCT_OF_NON_EXEC_DIR_ON_BRD"]

gov.head()

,AGE_OF_OLDEST_DIRECTOR,AGE_OF_YOUNGEST_DIRECTOR,AUDIT_COMMITTEE_MEETINGS,AVERAGE_BOD_TOTAL_COMPENSATION,BOARD_MEETINGS_PER_YR,BOARD_OF_DIRECTORS_AGE_RANGE,BOARD_SIZE,BOD_AGE_RANGE,BOD_AVERAGE_AGE,HIGHEST_BONUS_AMOUNT_PAID,...,PCT_OF_NON_EXEC_DIR_ON_BRD,PCT_WOMEN_ON_BOARD,PERCENTAGE_OF_FEMALE_EXECUTIVES,SIZE_OF_AUDIT_COMMITTEE,SIZE_OF_COMPENSATION_COMMITTEE,SIZE_OF_CSR_SUSTAIN_COMMTTEE,SIZE_OF_NOMINATION_COMMITTEE,TOTAL_BONUSES_PAID_TO_EXECUTIVES,YEARS_AUDITOR_EMPLOYED,GICS_SECTOR_NAME
ticker,,,,,,,,,,,,,,,,,,,,,
AAL UW Equity,73.0,57.0,6.0,230253.1000,11.0,16.0,11.0,18.0,64.153801,0.0,...,90.909103,18.181801,20.0,4.0,5.0,5.0,5.0,0.0,7.0,Industrials
AAME UQ Equity,76.0,46.0,5.0,42000.0000,4.0,30.0,6.0,30.0,60.666698,675000.0,...,83.333298,16.666700,0.0,3.0,3.0,0.0,0.0,900000.0,3.0,Financials
AAOI UQ Equity,87.0,54.0,8.0,149854.5714,8.0,33.0,7.0,33.0,65.142899,5891.0,...,85.714302,14.285700,0.0,3.0,3.0,0.0,3.0,10272.0,13.0,Information Technology
AAON UW Equity,85.0,47.0,5.0,152898.0000,5.0,38.0,7.0,NaN,NaN,0.0,...,71.428596,28.571400,0.0,4.0,3.0,0.0,3.0,0.0,17.0,Industrials
AAPL UW Equity,72.0,59.0,8.0,401859.0000,4.0,13.0,7.0,12.0,66.777802,0.0,...,85.714302,28.571400,40.0,3.0,3.0,0.0,3.0,0.0,12.0,Information Technology

- Before starting the calculations, the missing data needs to be filled with the sector averages as before. This can be done all at once by filtering the data for all of the fields shown above:

In [ ]:
#Filter data for all fields above:
g_f = gov.loc[:, (g_meet+g_diverse[1:]+g_bias[1:])]

#Fill NaNs with sector means:
dfs = []
for sec in sectors:
    
    #Mean of sector
    mean = g_f[g_f.GICS_SECTOR_NAME == sec].iloc[:,1:].mean()
    
    #Filtered df for current sector:
    filt = g_f[g_f.GICS_SECTOR_NAME == sec].iloc[:, 1:]   
    
    #Fill in with mean + append to list of dfs:
    filled_df = filt.fillna(mean)
    dfs.append(filled_df)

#Concatenate dfs into one again and add back sector column:
g_all = pd.concat(dfs)
g_all = g_all.sort_index()

g_all[g_all.isnull()].sum().sum()      #Show there are 0 NaNs

0.0

- With the missing data filled, the first component can now be calculated for the G score. The data needs to first be filtered to the meeting commitments fields only:

In [ ]:
#Filter to meeting commitment fields:
g_m = g_all.loc[:, g_meet[1:]]
g_m.head()

,AUDIT_COMMITTEE_MEETINGS,BOARD_MEETINGS_PER_YR,NOMINATION_CMTE_MTG_ATTEND_%,NUM_OF_MEMBERS_OF_CMPNSTN_CMTE,SIZE_OF_AUDIT_COMMITTEE
ticker,,,,,
AAL UW Equity,6.0,11.0,75.00,5.0,4.0
AAME UQ Equity,5.0,4.0,78.04,3.0,3.0
AAOI UQ Equity,8.0,8.0,75.00,3.0,3.0
AAON UW Equity,5.0,5.0,75.00,3.0,4.0
AAPL UW Equity,8.0,4.0,75.00,3.0,3.0

- Now, the one percentage field needs to be standardized into being from 0 to 1 before the same is done for the other fields that are float types instead of percentages:

In [ ]:
#Make pct field as pct:
g_m['NOMINATION_CMTE_MTG_ATTEND_%'] = g_m['NOMINATION_CMTE_MTG_ATTEND_%']/ 100
g_m['NOMINATION_CMTE_MTG_ATTEND_%'].head()

ticker
AAL UW Equity     0.7500
AAME UQ Equity    0.7804
AAOI UQ Equity    0.7500
AAON UW Equity    0.7500
AAPL UW Equity    0.7500
Name: NOMINATION_CMTE_MTG_ATTEND_%, dtype: float64

- Next, the non-percentage fields can be divided by the max values of each to give the percentage forms for those. This can be done by simply selecting those columns only:

In [ ]:
#Divide data by max:
g_m.iloc[:, [0,1,3,4]] = g_m.iloc[:, [0,1,3,4]] / g_m.iloc[:, [0,1,3,4]].max()
g_m.head()

,AUDIT_COMMITTEE_MEETINGS,BOARD_MEETINGS_PER_YR,NOMINATION_CMTE_MTG_ATTEND_%,NUM_OF_MEMBERS_OF_CMPNSTN_CMTE,SIZE_OF_AUDIT_COMMITTEE
ticker,,,,,
AAL UW Equity,0.166667,0.22,0.7500,0.416667,0.266667
AAME UQ Equity,0.138889,0.08,0.7804,0.250000,0.200000
AAOI UQ Equity,0.222222,0.16,0.7500,0.250000,0.200000
AAON UW Equity,0.138889,0.10,0.7500,0.250000,0.266667
AAPL UW Equity,0.222222,0.08,0.7500,0.250000,0.200000

- With the data all in the right format now, the average can be taken for each stock by summing the rows and dividing it by the number of fields:

In [ ]:
#Take average of fields:
num = len(g_m.columns)
g_m['meet_score'] = g_m.sum(axis=1) / num  

g_m.meet_score

ticker
AAL UW Equity     0.364000
AAME UQ Equity    0.289858
AAOI UQ Equity    0.316444
AAON UW Equity    0.301111
AAPL UW Equity    0.300444
                    ...
ZS UW Equity      0.307778
ZUMZ UW Equity    0.328889
ZVO UW Equity     0.337778
ZYNE UQ Equity    0.309333
ZYXI UW Equity    0.288727
Name: meet_score, Length: 1974, dtype: float64

- This concludes the first component of the G score. Now, the second component can go through the same process by first having the data filtered with those fields:

In [ ]:
#Filter for diversity fields:
g_div = g_all.loc[:, g_diverse[1:]]

g_div.head()

,BOARD_OF_DIRECTORS_AGE_RANGE,PERCENTAGE_OF_FEMALE_EXECUTIVES,PCT_WOMEN_ON_BOARD,NUM_EXECUTIVE_CHANGES,YEARS_AUDITOR_EMPLOYED
ticker,,,,,
AAL UW Equity,16.0,20.0,18.181801,0.0,7.0
AAME UQ Equity,30.0,0.0,16.666700,0.0,3.0
AAOI UQ Equity,33.0,0.0,14.285700,0.0,13.0
AAON UW Equity,38.0,0.0,28.571400,3.0,17.0
AAPL UW Equity,13.0,40.0,28.571400,0.0,12.0

- Because one of the fields have the meaning of "more is worse," this field needs to be inverted before being added to the rest. The field is the number of executive changes. This has been decided to be worse if larger because most of the data here has small amount of changes, and many executive changes can have the negative understanding that the previous executives were not performing well or maybe even got in to some form of troublesome activity. Furthermore, this field is in the diversity component because we feel that more changes result in a greater number of different types of people coming in, which denotes diversity as people are always somewhat different and have new perspectives, backgrounds, and plans. So, changes in high positions can denote in diversity as different people are coming in after a change is made. With this, the following inverts the current data:

In [ ]:
#Invert Exec Changes field:
g_div["NUM_EXECUTIVE_CHANGES"] = g_div["NUM_EXECUTIVE_CHANGES"].max() - g_div["NUM_EXECUTIVE_CHANGES"]

g_div.NUM_EXECUTIVE_CHANGES.head()

ticker
AAL UW Equity     11.0
AAME UQ Equity    11.0
AAOI UQ Equity    11.0
AAON UW Equity     8.0
AAPL UW Equity    11.0
Name: NUM_EXECUTIVE_CHANGES, dtype: float64

- Now that all fields are in the proper format, they can all be divided by each column's max in order to standardize the data values into percentages:

In [ ]:
#Divide it by max:
g_div = g_div / g_div.max()
g_div.head()

,BOARD_OF_DIRECTORS_AGE_RANGE,PERCENTAGE_OF_FEMALE_EXECUTIVES,PCT_WOMEN_ON_BOARD,NUM_EXECUTIVE_CHANGES,YEARS_AUDITOR_EMPLOYED
ticker,,,,,
AAL UW Equity,0.271186,0.2,0.181818,1.000000,0.056452
AAME UQ Equity,0.508475,0.0,0.166667,1.000000,0.024194
AAOI UQ Equity,0.559322,0.0,0.142857,1.000000,0.104839
AAON UW Equity,0.644068,0.0,0.285714,0.727273,0.137097
AAPL UW Equity,0.220339,0.4,0.285714,1.000000,0.096774

- As previously done, an average can be taken for each stock by summing the rows and dividing it by the number of fields:

In [ ]:
#Take average of all fields:
num_fields = len(g_div.columns)
g_div['div_score'] = g_div.sum(axis=1) / num_fields 

g_div.div_score

ticker
AAL UW Equity     0.341891
AAME UQ Equity    0.339867
AAOI UQ Equity    0.361404
AAON UW Equity    0.358830
AAPL UW Equity    0.400565
                    ...
ZS UW Equity      0.306045
ZUMZ UW Equity    0.378657
ZVO UW Equity     0.389412
ZYNE UQ Equity    0.391048
ZYXI UW Equity    0.359477
Name: div_score, Length: 1974, dtype: float64

- This concludes the calculation of the second component of the G scores, so the final part can now begin by first filtering the proper fields:

In [ ]:
#Filtering for bias/integrity/interest fields:
g_b = g_all.loc[:, g_bias[1:]]
g_b.head()

,PCT_EXECUTIVES_HOLDING_SHARES,NUM_OF_NON_EXECUTIVE_DIR_ON_BRD,PCT_INDEPENDENT_DIRECTORS,PCT_NON_EXEC_DIR_ON_AUD_CMTE,PCT_NON_EXEC_DIR_ON_CMPNSTN_CMTE,PCT_NON_EXEC_DIR_ON_NOM_CMTE,PCT_OF_NON_EXEC_DIR_ON_BRD
ticker,,,,,,,
AAL UW Equity,42.857101,12.0,90.909103,100.0,100.0,100.000000,90.909103
AAME UQ Equity,28.571400,5.0,50.000000,100.0,100.0,97.679263,83.333298
AAOI UQ Equity,71.428596,6.0,85.714302,100.0,100.0,100.000000,85.714302
AAON UW Equity,83.333298,7.0,71.428596,100.0,100.0,100.000000,71.428596
AAPL UW Equity,29.411800,8.0,85.714302,100.0,100.0,100.000000,85.714302

- As seen, almost all of the fields are in the percentage format that is desired, so the one leftover field can be standardized by dividing it by its max:

In [ ]:
#Make num of non execs on board as pct:
non_exec_brd = g_b['NUM_OF_NON_EXECUTIVE_DIR_ON_BRD']
g_b['NUM_OF_NON_EXECUTIVE_DIR_ON_BRD'] = non_exec_brd / non_exec_brd.max()

g_b['NUM_OF_NON_EXECUTIVE_DIR_ON_BRD'].head()

ticker
AAL UW Equity     0.444444
AAME UQ Equity    0.185185
AAOI UQ Equity    0.222222
AAON UW Equity    0.259259
AAPL UW Equity    0.296296
Name: NUM_OF_NON_EXECUTIVE_DIR_ON_BRD, dtype: float64

- Next, the fields already in percentage form are above 1, so they need to be standardized between 0 and 1 like it has been done:

In [ ]:
#Make pct fields as pct:
g_b.iloc[:, [0,2,3,4,5,6]] = g_b.iloc[:, [0,2,3,4,5,6]] / 100
g_b.head()

,PCT_EXECUTIVES_HOLDING_SHARES,NUM_OF_NON_EXECUTIVE_DIR_ON_BRD,PCT_INDEPENDENT_DIRECTORS,PCT_NON_EXEC_DIR_ON_AUD_CMTE,PCT_NON_EXEC_DIR_ON_CMPNSTN_CMTE,PCT_NON_EXEC_DIR_ON_NOM_CMTE,PCT_OF_NON_EXEC_DIR_ON_BRD
ticker,,,,,,,
AAL UW Equity,0.004286,0.444444,0.009091,0.01,0.01,0.010000,0.009091
AAME UQ Equity,0.002857,0.185185,0.005000,0.01,0.01,0.009768,0.008333
AAOI UQ Equity,0.007143,0.222222,0.008571,0.01,0.01,0.010000,0.008571
AAON UW Equity,0.008333,0.259259,0.007143,0.01,0.01,0.010000,0.007143
AAPL UW Equity,0.002941,0.296296,0.008571,0.01,0.01,0.010000,0.008571

-  With the data ready, the average can be taken for each stock:

In [ ]:
#Take average of all fields:
num_fields = len(g_b.columns)
g_b['bias_score'] = g_b.sum(axis=1) / num_fields

g_b.bias_score

ticker
AAL UW Equity     0.070987
AAME UQ Equity    0.033021
AAOI UQ Equity    0.039501
AAON UW Equity    0.044554
AAPL UW Equity    0.049483
                    ...
ZS UW Equity      0.038583
ZUMZ UW Equity    0.039538
ZVO UW Equity     0.061092
ZYNE UQ Equity    0.038957
ZYXI UW Equity    0.023016
Name: bias_score, Length: 1974, dtype: float64

- The raw G score can now be calculated using the pre-defined weights previously discussed:

In [ ]:
# G raw score:
    #meetings: 30%
    #diversity: 20%
    #bias/integrity/interest: 50%
m_wgt = 0.3
d_wgt = 0.2
b_wgt = 0.5

G_raw = (g_m.meet_score*m_wgt) + (g_div.div_score*d_wgt) + (g_b.bias_score*b_wgt)
G_raw

ticker
AAL UW Equity     0.213072
AAME UQ Equity    0.171441
AAOI UQ Equity    0.186965
AAON UW Equity    0.184376
AAPL UW Equity    0.194988
                    ...
ZS UW Equity      0.172834
ZUMZ UW Equity    0.194167
ZVO UW Equity     0.209762
ZYNE UQ Equity    0.190488
ZYXI UW Equity    0.170021
Length: 1974, dtype: float64

- The raw scores can now be ranked and placed into the desired format of being out of 100 and as 2 decimal places:

In [ ]:
#G Final Score:
G_score = G_raw.rank(pct=True)

#Format scores out of 100 and 2 decimals:
G_score = G_score * 100
G_score = G_score.round(2)

G_score.sort_values()

ticker
KSPN UR Equity      0.05
SGH UW Equity       0.10
FLUX UR Equity      0.15
THRY UR Equity      0.20
PCYG UR Equity      0.25
                   ...
TOWN UW Equity     99.80
PWOD UW Equity     99.85
CME UW Equity      99.90
BANR UW Equity     99.95
SAFM UW Equity    100.00
Length: 1974, dtype: float64

- This concludes the calculation of the last ESG pillar. With this, the total ESG scores for each firm can now also be generated and then placed into a CSV file for future use.

## **Total ESG Scores Creation:**

There may be different views on how to weight the importance of each ESG pillar, for different people may view as each one being more or less important depending on the type of firm. However, we feel that the total ESG score should describe the three pillars equally since they are all major areas of ESG. This also puts it into a more comparable and standard plain field for all firms in terms of total scores. Furthermore, if it is desired to place more importance on one pillar over the others, this can be done with the single pillar scores that are also available. In the future for an asset allocation algorithm/platform, this option is to be given as different investors can see a pillar being more significant for their own view, so putting an equal weight for the total ESG score is not an issue here. With this, a simple average can be taken from the three scores to generate the total ESG scores for all firms:

In [ ]:
#Total ESG scores:
esg = (E_score + S_score + G_score) / 3
esg.sort_values()

ticker
PRPO UR Equity     3.953333
BEAT UR Equity     6.663333
RGC UR Equity      7.766667
RXDX UW Equity     7.803333
WKHS UR Equity     8.310000
                    ...
NVDA UW Equity    97.106667
CTSH UW Equity    97.290000
APA UW Equity     97.570000
MDLZ UW Equity    97.803333
MEOH UW Equity    98.343333
Length: 1974, dtype: float64

- To conclude this report and overall process, all 4 scores can be placed into a single CSV file that can be used in the future:

In [ ]:
#Put all scores in CSV file:
esg_df = pd.DataFrame()        #Empty DF

esg_df['E_score'] = E_score          #Environmental
esg_df['S_score'] = S_score          #Social 
esg_df['G_score'] = G_score          #Governance
esg_df['ESG_score'] = esg.round(2)   #ESG Total

esg_df.to_csv('esg_scores.csv')

esg_df

                E_score  S_score  G_score  ESG_score
ticker
AAL UW Equity     96.30    99.95    80.09      92.11
AAME UQ Equity    52.08    63.80    13.78      43.22
AAOI UQ Equity    85.16    23.35    37.23      48.58
AAON UW Equity    83.33    30.98    32.42      48.91
AAPL UW Equity    44.38    95.57    51.52      63.82
...                 ...      ...      ...        ...
ZS UW Equity      86.88    42.43    15.50      48.27
ZUMZ UW Equity    70.77    30.98    49.90      50.55
ZVO UW Equity     66.46    70.74    76.44      71.21
ZYNE UQ Equity    12.74    54.03    42.55      36.44
ZYXI UW Equity    26.44    66.44    12.36      35.08

[1974 rows x 4 columns]

# **Conclusion:**
---

It is clear that technological tools such as Python and their overall combination can yield very useful results. Python along with the Bloomberg Terminal, Excel, CSV, and the various used packages made it very convenient to make each step possible. Python's power is also evident as simple lines can be written to calculate entire processes for the whole dataset. With this, it is also clear that ESG scores can be rather subjective, but they can also be logical and consistent. We feel as if the scores do follow a consistent and logical path here, and that two out of the three (E and G) are rather strong scores. They both have very useful fields. The S pillar mainly had one type of field, but it still proved its use and contribution to the score as firms still need to be motivated to report this type of information if ESG criteria is to become more prominent. Ultimatelly, there can be different approaches to generating these scores, but they should reflect well how each firm compares to each other in terms of ESG criteria since real data has been used. With this, the following are the future steps for this:
- Analyze the generated scores, its correlations to popular metrics, and other relevant insights.
- Generate socially responsible investment strategies through the use of ESG scores in asset allocation algorithms.